*~
*.tmp
*.bak
*.swp
*.pkl
*.out
*.coverage*
*.serial
*.cache
*.pyd
.ipynb_checkpoints
test/test_packages/temp_test_files/*
*_checkpoints/
*_checkpoint/
jupyter_notebooks/**/offline
test/test_packages/offline
hooks/etc/permissions.yml
*comm_output*.txt
*.lprof
*.cache
/.eggs/
.ropeproject
.vscode
doc/_autosummary
doc/autoapi
doc/build
.venv*
*.pyc*

# Protocol Checkpointing #
##########################
*gst_checkpoints*
*model_test_checkpoints*
*standard_gst_checkpoints*
*ibmqexperiment_checkpoint*

# Serialization Testing Artifacts #
###################################
*LinearGateSetTomography_serialization*

# Test Metadata #
#################
test/output/*
test/output/pylint/*
test/output/individual_coverage/*/*
test/test_packages/cmp_chk_files/Fake_Dataset_none.txt.cache
**.noseids
**test_ibmq**

# Tutorial Notebook Untracked Files #
####################################
jupyter_notebooks/Tutorials/tutorial_files/modeltest_report
jupyter_notebooks/Tutorials/tutorial_files/gettingStartedReport
jupyter_notebooks/Examples/example_files/*.pkl
jupyter_notebooks/Examples/example_files/*.json
jupyter_notebooks/Examples/example_files/leakage_*
jupyter_notebooks/Tutorials/tutorial_files/exampleReport
jupyter_notebooks/Tutorials/tutorial_files/exampleStdReport
jupyter_notebooks/Tutorials/tutorial_files/exampleMultiEstimateReport
jupyter_notebooks/Tutorials/tutorial_files/exampleMultiEstimateReport2
jupyter_notebooks/Tutorials/tutorial_files/exampleMultiDataSetReport
jupyter_notebooks/Tutorials/tutorial_files/exampleBriefReport
jupyter_notebooks/Tutorials/tutorial_files/*.ipynb
jupyter_notebooks/Tutorials/tutorial_files/tempTest
jupyter_notebooks/Tutorials/tutorial_files/*checkpoints
jupyter_notebooks/Tutorials/objects/advanced/test_ibmq*
jupyter_notebooks/Tutorials/tutorial_files/test_mirror_benchmark



# Compiled source #
###################
*.c
*.cpp
*.pyc
*.com
*.class
*.dll
*.exe
*.o
*.so
*.aux
*.dvi
*.toc
build/*
dist/*
/pygsti.egg-info
/pyGSTi.egg-info
parsetab_string.py
*.pyd

# These are handwritten, not generated by cython, and should not be ignored
!/pygsti/objects/replib/fastreps.cpp
!/pygsti/objects/replib/fastreps.h

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# OS generated files #
######################
.DS_Store
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
.idea/
HighImpactPaper1/texFiles/.DS_Store

# Generated documentation #
###########################
doc/html/*
doc/_auto
doc/_build

# Customer Data #
#################
scripts/profiling/report/*.ipynb
scripts/profiling/report/Analyze+2Q+data.py
scripts/profiling/report/*.html
scripts/profiling/*.html
scripts/profiling/report/standard_report.py
scripts/profiling/report/tp_report.py
scripts/profiling/report/rigetti_nocache.py

# Profiling data #
#################
scripts/profiling/output
scripts/profiling/data

# Other Local-only Files #
############################
local
pygsti/_version.py
1_1.profile/0.prof
