include README.md CONTRIBUTING.md LICENSE
include pyproject.toml
include requirements.txt
include optional-requirements.txt
include docs/_toc.yml docs/_config.yml docs/jupytext.toml docs/references.bib
include docs/requirements.txt docs/api.rst
include docs/pyGSTi_icon_wht.png
recursive-include docs/markdown *.md
recursive-include docs/_templates *
include test/runTests.py
include test/__init__.py
include test/unit/__init__.py
include test/unit/*/*.py
include test/unit/extras/*/*.py
include test/output/.placeholder
include test/test_packages/*/*.py
include test/test_packages/extras/*.py
include test/test_packages/cmp_chk_files/*
include test/test_packages/temp_test_files/.placeholder
