include README.md CONTRIBUTING.md LICENSE
include pyproject.toml
include requirements.txt
include optional-requirements.txt
include jupyter_notebooks/START_HERE.ipynb
include jupyter_notebooks/FAQ.ipynb
include jupyter_notebooks/Tutorials/*.ipynb
include jupyter_notebooks/Tutorials/algorithms/*.ipynb
include jupyter_notebooks/Tutorials/objects/*.ipynb
include jupyter_notebooks/Tutorials/reporting/*.ipynb
include jupyter_notebooks/Tutorials/other/*.ipynb
include jupyter_notebooks/Tutorials/algorithms/advanced/*.ipynb
include jupyter_notebooks/Tutorials/objects/advanced/*.ipynb
include jupyter_notebooks/Tutorials/reporting/advanced/*.ipynb
include jupyter_notebooks/Tutorials/other/advanced/*.ipynb
include jupyter_notebooks/Examples/*.ipynb
include jupyter_notebooks/Tutorials/tutorial_files/.git_placeholder
include jupyter_notebooks/Examples/example_files/.git_placeholder
include scripts/upgrade2v0.9.7.py
include test/runTests.py
include test/__init__.py
include test/unit/__init__.py
include test/unit/*/*.py
include test/unit/extras/*/*.py
include test/output/.placeholder
include test/test_packages/*/*.py
include test/test_packages/extras/*.py
include test/test_packages/cmp_chk_files/*
include test/test_packages/temp_test_files/.placeholder
recursive-include doc/html *
