.top a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1vh 1.5vw;
    text-decoration: none;
}
.top {
    position:absolute;
    left:0; right:0; top:0;
    height: 5vh;
    background-color: #333;
}
.left {
    position:absolute;
    left:0; top:5vh; bottom: 0;
    width: 10vw;
    background-color:#cccccc; 
    padding: 1vh 1vw;
}
.right{
    position: absolute;
    left:10vw; top:5vh; right:0; bottom:0;
    padding: 3vh 3vw;
}
