html {
  font-size: 9pt;
}
body {
  font-family: "Computer Modern Serif", "Times New Roman", Times, serif;
  text-align: justify;
  hyphens: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-column-break-after: avoid;
  column-break-after: avoid;
  break-after: avoid;
  font-family: "Computer Modern Serif", "Times New Roman", Times, serif;
  font-weight: bold;
  hyphens: none;
}

h1 {
  font-size: 1.33333333em;
}
h2 {
  font-size: 1.15em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1.1em;
}
p {
  margin: 0 0 0.5em;
  line-height: 1.17;
  text-indent: 0;
}
small {
  font-size: 0.77777778em;
}
code {
  font-family: Courier, monospace;
  font-size: 0.88888889em;
  font-weight: 400;
  display: inline-block;
}
q:before {
  content: "“";
}
q:after {
  content: "”";
}
q > q:before {
  content: "‘";
}
q > q:after {
  content: "’";
}
figure {
  /*margin: 1.333em 0 2.333em;*/
  margin: 10px;
  text-align: center;
  float: left;
  max-width: 100%;
}
figcaption {
  font-size: 12px;
  caption-side: bottom;
  font-weight: bold;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
figcaption > span.captiondetail {
    display: none; /* displayed by clicking on fig/table */
}

figure.tbl {  /* figure that is a table */
  /*width: 80%; */
  /*margin: 1.667em 0 1em; */
  /*margin: auto;*/  /*center tables*/
  /*margin-top: 10px;*/ /*give space above table caption*/
  border-collapse: collapse;
  text-align: center;
}

figure.txtblk {  /* figure that is a text block */
  text-align: left;
}

figure.txtblk div.single_switched_value { /* put border around text listings */
    border: 1px solid;
}

p.clear {
    clear: both;
}

th,
td {
  padding: 0.333em;
  border: 0.5px solid #000000;
  text-align: center;
}

/*figure.tbl > figcaption {
  caption-side: top;
  margin: 0 0 4pt;
  font-weight: bold;
}*/

.footnote {
  margin-left: 0.333em;
  padding-left: 0.667em;
}
.footnote::footnote-call {
  vertical-align: super;
  line-height: none;
  font-size: 66%;
}
.footnote::footnote-marker {
  font-size: 66%;
  footnote-style-position: inside;
}
cite {
  display: block;
  position: relative;
  margin-left: 2.5em;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  break-inside: avoid;
  font-style: normal;
  text-align: left;
}
cite:before {
  position: absolute;
  display: inline-block;
  margin-left: -2.5em;
}
cite a {
  text-decoration: none;
}
a[href^="#"] {
  color: inherit;
  text-decoration: none;
}

figure {
  counter-increment: figure;
}
figcaption {
    margin: auto;
    text-alight: center;
}
figcaption:before {
  content: "Figure " counter(figure) ". ";
}
figure.tbl {
  counter-increment: table;
}
figure.tbl > figcaption:before {
  content: "Table " counter(table) ". ";
}
figure.txtblk {
  counter-increment: textblock;
}
figure.txtblk > figcaption:before {
  content: "Listing " counter(textblock) ". ";
}
.footnote {
  counter-increment: footnote;
}
.footnote::footnote-call {
  content: counter(footnote);
}
.footnote::footnote-marker {
  content: counter(footnote);
}
.cites > :not(:first-child):before {
  content: none;
}
.cites > :not(:last-child):after {
  content: ", ";
}
cite {
  counter-increment: reference;
}
cite:before {
  content: "[" counter(reference) "]";
}
h1,
h2 {
    margin: 1.33333333em 0 0 0;
}
/*h1 {
  text-transform: uppercase;
} */
/*h2 {
    font-weight: normal;
}*/
h1 + h2,
h1 + * > h2:first-child {
  margin-top: 0;
}
h3,
h4 {
  margin: 1.33333333em 0 0 0;
  font-style: italic;
  font-weight: normal;
}
header {
  column-span: all;
  margin-bottom: 4em;
  font-family: Helvetica, sans-serif;
}
header h2 {
  /*margin: 2em 0;*/
  font-size: 1.333em;
  font-weight: normal;
  text-align: center;
  color: white;
}
.title {
  margin: 5px;
  font-family: Helvetica, sans-serif;
  font-size: 18pt;
  text-align: center;
  text-transform: none;
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all;
  color: white;
}
.authors {
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
.authors + .authors {
  margin-top: 6pt;
}
.author {
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-after: always;
  column-break-after: always;
  break-after: always;
  text-align: center;
  font-size: 10pt;
}
.author a {
  color: inherit;
  text-decoration: none;
}
.author > :first-child,
.author > :last-child {
  font-size: 12pt;
}
.copyright {
  height: 1.5in;
  float: column-bottom;
  font-size: 8pt;
}
.copyright > * {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 3.333in;
}
cite {
  margin-bottom: 0.333em;
  text-align: left;
}
cite a {
  text-decoration: none;
}
.appendix {
  counter-reset: section;
}
.appendix h1:not(.counter-skip):before {
  content: "" counter(section, upper-alpha) "";
}
.appendix h2:not(.counter-skip):before {
  content: "" counter(section, upper-alpha) '.' counter(subsection, decimal) "";
}
.appendix h3:not(.counter-skip):before {
  content: "" counter(section, upper-alpha) '.' counter(subsection, decimal) '.' counter(subsubsection, decimal) "";
}
.equation {
  margin: 3pt 0;
  text-align: center;
}
.equation:not(.displaymath) {
  position: relative;
  counter-increment: equation;
}
.equation:not(.displaymath):after {
  content: "(" counter(equation) ")";
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
  line-height: 0;
}
.theorem,
.proof,
.definition {
  margin: 12pt 0;
}
.theorem:before,
.proof:before,
.definition:before {
  margin-left: 9pt;
}
.theorem {
  font-style: italic;
}
.theorem:before {
  counter-increment: theorem;
  content: "Theorem " counter(theorem) ". ";
  font-style: normal;
  font-variant: small-caps;
}
.proof:before {
  counter-increment: proof;
  content: "Proof " counter(proof) ". ";
  font-style: normal;
  font-variant: small-caps;
}
.definition:before {
  counter-increment: definition;
  content: "Definition " counter(definition) ". ";
  font-style: italic;
}

@media screen {

  html {
    font-size: 16px;
  }

  body {
      min-width: 400px;
      min-height: 100vh; /* make sure body extends to entire height of page so mouse capture works */
    /* max-width: 1000px; */
    width: 100%;
    /* margin: 3em auto 6em; */
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }

  p {
    margin-bottom: 1em;
  }

  th, td {
    border-width: 1px;
  }


  .title {
    font-size: 2rem;
  }

  .authors {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  .copyright {
    display: none;
  }

}

div.topnav {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.topnav button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
/* border: 1px solid #ccc;
   border-top: none; */
}

/* Fade-in tabs begin */
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* Fade-in tabs end */


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 10px; /* change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-sizing: border-box; /* so height includes padding */
}

/* The navigation menu links */
.sidenav a {
    padding: 4px 8px 4px 32px;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav div.linkgroup {
    border: 1px solid #818181;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sidenav div.linkgroup .linkgroupheading {
    color: black;
    text-align: left;
    background-color: #818181;
    padding-left: 5px;
    margin: 0;
    font-size: 12px;
}
.sidenav div.linkgroup a.linkgroupheading {
    font-size: 16px; /* headings that are links stay large */
}

.sidenav div.linkgroup a {
    padding-left: 12px;
}

/* change color of active link */
.sidenav a.active {
    color: lightblue;
}
div.sidenav div.linkgroup a.active {
    color: lightblue; /* so takes precedence */
}


/*Hover changes*/
.sidenav div.linkgroup:hover {
    border: 1px solid lightgray;
}
.sidenav div.linkgroup:hover > p.linkgroupheading{
    background-color: lightgray;
}
.sidenav div.linkgroup > a.linkgroupheading:hover {
    background-color: lightgray;
}
.sidenav div.linkgroup > a.active.linkgroupheading:hover {
    color: steelblue;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav #tackbtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 25px;
    margin-left: 50px;
}


.sidenav .switch_container label {
    float: none; /* usually floats left but this makes sidenav buttons jump up */
}

.sidenav .pygsti-wsoutput-group {
    width: 90%;	/* some padding around sidenav tables */
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.sidenav .dataTable {
    width: 100%; /* make width of pygsti-wsoutput-group (above) */
}

.sidenav .dataTable thead tr th,
.sidenav .dataTable tfoot tr td,
.sidenav .dataTable tbody tr td {
    font-size: 11px;
}

.sidenav .dlLink {
    display: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    padding-top: 5em;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 10px;}
    .sidenav a {font-size: 12px;}
}

.sidenav .switch_container .ui-selectmenu-button.ui-button {
    width: 150px; /* set to slightly less than sidenav width */
}

.header {
    width: 100%;
    height: 5em; /* 80 */
    text-align: center;
    background-color: black; /*#fff;*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    -webkit-box-shadow: 0 0.063em 0.25em rgba( 37, 50, 55, .25 ); /* 1 4 */
    box-shadow: 0 0.063em 0.25em rgba( 37, 50, 55, .25 ); /* 1 4 */


    -webkit-transition-duration: .5s;
    transition-duration: .5s;

    -webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
    transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );


    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

.header--hidden
{
    -webkit-transform: translateY( -100% );
    -ms-transform: translateY( -100% );
    transform: translateY( -100% );
}

.captiontitle {
    font-weight: bold;
}

.captiondetail {
    display: none;
    font-weight: normal;
    text-align: left;
}
.showcaption {
    display: block !important;
}

#status {
    color: #777;
    background:#ccc;
    border-top:solid 2px #888;
    bottom:0;
    left:0;
    margin:0;
    padding:0;
    position:fixed;
    width:100%;
    margin:0;
    padding:3px;
    text-align:center;
}

#AjaxError {
    color: #E00;
}
