
.test {
    color: red;
    background-color: yellow;
}

.modebar {
    display: none;
}

.katex {
    font-size: 1em !important;
}

.dataTable td, .dataTable th {
	/* appearance */
	border: 2px solid #333;
	
	/* size */
	padding: 5px;
	}

.dataTable {
        /* text */
        font-family: "Computer Modern Serif","times new roman",serif;
	/*Helvetica, Arial, sans-serif;*/

	/* no space between cells */
	border-spacing: 0px;
	border-collapse: collapse;

	/* auto-size columns & center table in it's parent div */
	width: auto;
	margin: auto;
	margin-top: 5px;
        }

/*.dataTable tr {
    width: 20%;
}*/

.dataTable a {
	/* link text */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #000000;
	}
.dataTable a:hover { color: #0000FF; }

.dataTable tbody tr td {
	/* appearance */
	background-color: #ffffff;
		
	/* text */
	color: #262c31;

	/* font */
	font-family: "Computer Modern Serif","times new roman",serif;

	/* font-size: 90%; */
	font-size: 10pt;

	/* text alignment */
	text-align: center;
	vertical-align: middle;
	}

.dataTable tbody tr.odd td {
	/* appearance */
	background-color: #d6e0ef;
	}

.dataTable thead tr th,
.dataTable tfoot tr td {
	/* appearance */
        background-color: #333;	
		
	/* text */
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	}

.dataTableHeading {
	font-weight: bold;
	color: #333;
	margin-bottom: 5px;
}

.dataTableHeading > a {
        text-decoration: none;
	color: #333;
}

.dataTableHeading > a:hover {
	color: #00CDF0;
}

	
	
/* For now, also include plotly style additions here too */
.plotly-graph-div {
    margin: auto; /*to center plots*/
}

.pygsti-wsoutput-group {
}

/*.dataTable div {
    max-height: 1000px;
    max-width: 1000px;
}*/

/* maximum sizes for fluid report figures (enable if we use this)*/
figure > div {
    max-height: 1000px;
    max-width: 100%;
}


