# This workflow runs a full test suite on beta and master
# This includes all versions of supported Python, all OSes, and all test subsets

name: Build and run tests (beta & master)

on:
  push:
    branches: [ "beta", "master" ]
  workflow_dispatch: # Allow manual running from GitHub

jobs:
  build:
    strategy:
      matrix:
        os: [macos-13, ubuntu-latest, windows-latest] # TODO: Unpin mac version when cvxopt or Python 3.8 dropped
        python-version: [3.8, 3.9, '3.10', '3.11']
        use-cython: ['true', 'false']
    uses: ./.github/workflows/reuseable-main.yml
    name: Run pyGSTi tests
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      use-cython: ${{ matrix.use-cython }}
      run-unit-tests: 'true'
      run-extra-tests: 'true'
      run-notebook-tests: 'true'






