# This workflow runs a moderate test suite on develop
# This includes all versions of supported Python, no MacOS, and only unit tests

name: Build and run tests (develop)

on:
  push:
    branches: [ "develop" ]
  workflow_dispatch: # Allow manual running from GitHub

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest] # No Mac
        python-version: [3.8, 3.9, '3.10', '3.11']
        use-cython: ['true', 'false']
    uses: ./.github/workflows/reuseable-main.yml
    name: Run pyGSTi tests
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      use-cython: ${{ matrix.use-cython }}
      run-unit-tests: 'true'
      run-extra-tests: 'false' # No integration tests
      run-notebook-tests: 'false' # No notebook tests 






